@use "./breakpoint";
@use "./spacing";

/* constrained width content */
@mixin article($w: breakpoint.get(desktop-lg), $pad: true) {
  width: 100%;
  max-width: breakpoint.get(desktop-lg);
  margin: {
    left: auto;
    right: auto;
  }

  @if $pad {
    padding: {
      left: spacing.get(2);
      right: spacing.get(2);
    }
  
    @include breakpoint.min(desktop-lg) {
      padding: {
        left: spacing.get(4);
        right: spacing.get(4);
      }
    }
  }
}

@mixin full-bleed() {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}