---
import BaseLayout from "@/layout/BaseLayout"

import HomepageHero from "@/sections/index/Hero.astro"
import HomepageTopics from "@/sections/index/Topics.astro"
import HomepageResources from "@/sections/index/Resources.astro"

import homepageStyles from "~/styles/src/pages/home.module.scss"
---

<BaseLayout title="Design for a Better World">
	<div class={homepageStyles['homepage']}>
		<HomepageHero />
		<HomepageTopics />
		<HomepageResources />
	</div>
</BaseLayout>