@use "../border-radius";
@use "../color";
@use "../mixins";
@use "../spacing";
@use "../text";
@use "../transition";


$_header-vertical-padding: spacing.get(4);
$_header-item-spacing: spacing.get(4);
$_nav-item-padding: spacing.get(1);
$_nav-link-border-bottom-thickness: spacing.get(px, 4);
$_nav-dropdown-vertical-offset: spacing.get(sm);

$header-height: $_header-vertical-padding * 2 + $_nav-item-padding * 2 + text.get(size, base) + text.$line-height-flat-offset;
        
.header {
  z-index: 2;
  width: 100%;
  padding: $_header-vertical-padding spacing.get(4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $_header-item-spacing;

  &__nav {
    &__items {
      display: flex;
      align-items: center;
      gap: $_header-item-spacing;

      &__item {
        list-style: none;
        @include text.family(default);
        @include text.size(base);
        @include text.weight(semibold);

        &__link {
          padding: $_nav-item-padding - $_nav-link-border-bottom-thickness;
          border-bottom: $_nav-link-border-bottom-thickness solid transparent;
          @include transition.fast(border-bottom-color);
  
          &:hover {
            border-bottom-color: currentColor;
          }  
        }

        &__dropdown {
          position: relative;

          &__label {
            display: flex;
            align-items: baseline;
            padding: $_nav-item-padding;
            cursor: pointer;
            
            @include mixins.dropdown-arrow;
          }

          &__menu {
            z-index: 1;
            list-style: none;
            position: absolute;
            top: calc(100% - #{$_nav-item-padding} + #{$_nav-dropdown-vertical-offset});
            left: 50%;
            padding: spacing.get(1);
            @include color.background(surface, dark);
            @include border-radius.of-size(1);
            border: spacing.get(px, 1) solid color.get(background, light);
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
            pointer-events: none;

            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, #{-1 * $_nav-dropdown-vertical-offset});
            @include transition.fast(opacity, visibility, transform);

            &__item {
              @include text.nowrap;
              
              &__link {
                display: inline-block;
                padding: spacing.get(1);

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          &:hover &__menu {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0);
            pointer-events: all;
          }
        }
      }
    }
  }
}

